<div class="breadcrumbs">
  <a href="#">Главная</a> /
  <a href="#">Обувь</a> /
  <a href="#">Мужская</a> /
  <a href="#">Кроссовки</a> /
  <a href="#">adidas</a>
</div>

<div class="container">
  <div class="gallery">
    <img [src]="decodeURIComponent(product.image)" [alt]="product.name + 'image'">
  </div>
  <div class="info">
    <div class="top-info">
      <div class="left-desc">
        <div class="brand">brand</div>
        <div class="title">{{product.name}}</div>
      </div>
      <button class="like-button" title="Добавить в избранное">
        <img src="productcard/like.svg" alt="Like">
      </button>
    </div>

    <div class="price-box">
      <div class="price">{{product.price - (product.price * product.discount)/100}} тг.<span class="old-price" *ngIf="product.discount != 0">{{product.price}}</span></div>
      <div class="buttons">
        <button>Добавить в корзину</button>
        <button class="buy-now">Купить сейчас</button>
      </div>
    </div>

    <div class="details">
      <p><strong>Состав:</strong> синтетический материал, текстиль</p>
      <p><strong>Пол:</strong> Мужской</p>
      <p><strong>Страна производства:</strong> Индонезия</p>
      <p><strong>Артикул:</strong> 274463957</p>
      <p><strong>Доставка:</strong> 14 апреля, склад WB</p>
      <p><strong>Примерка:</strong> Есть примерка</p>
    </div>
  </div>
</div>

<div class="reviews">
  <h2>Отзывы ({{reviews.length}})</h2>
  <div class="review" *ngFor="let review of reviews">
    <div class="review-name">{{review.user}} - {{review.rating}}</div>
    <div class="review-text">{{review.comment}}</div>
  </div>
</div>
