<header class="header-container">
  <div class="header">
    <div class="header-top">
        <button class="header-top-address-button clear-button" type="button">
          <img src="point.svg" alt="address"/>
          Алматы, улица Толе би, д. 59, кв. 136
        </button>
    </div>
    <div class="header-bottom flex">
      <a [href]="['']">
        <img src="logoWb.svg" alt="logo icon" class="header-bottom-logo"/>
      </a>
      <button class="header-bottom-button">
        <img src="category.svg" alt="category icon"/>
      </button>
      <div class="header-bottom-input-container">
        <input autocomplete="off" class="header-bottom-input"
               type="search" placeholder="Найти на Wildberries">
        <button class="header-bottom-input-button">
          <img src="search.svg" alt="search icon"/>
        </button>
      </div>
      <div>
        <ul class="header-bottom-profile-section flex">
          <a [href]="['']"><li>
              <img src="deliveries.svg" alt="deliveries icon"/>
              <span>Доставки</span>
            </li></a>
          <a [href]="['']"><li>
            <img src="likes.svg"/>
            <span>Избранное</span>
          </li></a>
          <button type="button" class="clear-button"><li>
            <img src="profile.svg" alt="profile icon"/>
            <span>Профиль</span>
          </li></button>
          <a [href]="['']"><li>
              <img src="cart.svg" alt="cart icon"/>
              <span>Корзина</span>
          </li></a>
        </ul>
      </div>
    </div>
  </div>
</header>
