.flex {
  display: flex;
  align-items: center;
}



.header {
  padding: 8px 0 16px;
  background: linear-gradient(#6f01fb -7.07999%, #ff49d7 100%),
  linear-gradient(#d9d9d9, #d9d9d9);
}

.header-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 32px;
}

.header-top {
  margin: 0 0 12px;
  font-size: 14px;
  padding: 0;
}

.header-top-address-button {
  color: rgba(255, 255, 255, .6);
  position: relative;
  padding: 0 0 0 20px;
  border: none;
  background: none;
}

.header-top-address-button:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 8px;
  color: #fff;
  margin-left: -4px;
  padding: 0 4px 0 24px;
  transition: background-color, color .3s;
}

.header-top-address-button img {
  position: absolute;
  top: 2px;
  left: 0;
}

.header-top-address-button:hover img {
  left: 4px;
}




.header-bottom {
  flex-direction: row;
}

.header-bottom-logo {
  margin-right: 16px;

}

.header-bottom-button {
  width: 58px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  background-color: transparent;
}

.header-bottom-button:hover {
  border-color: rgba(255, 255, 255, 1);
  transition: border-color .3s;
}

.header-bottom-button img {
  width: 44px;
  height: 44px;
  margin: 0 auto;
}

.header-categories {
  position: absolute;
  width: 312px;
  height: 100%;
  padding: 24px 0 24px 32px;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}

.header-bottom-input-container {
  position: relative;
  margin-left: 12px;
  width: 100%;
}

.header-bottom-input {
  border-radius: 16px;
  padding: 17px 100px 17px 20px;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  outline: none;
}

.header-bottom-input-button {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 40px;
  height: 40px;
  content: '';
  transform: translateY(-50%);
  background: none;
  border: none;
}

.header-bottom-profile-section {
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.header-bottom-profile-section li {
  margin-left: 24px;
}

.header-bottom-profile-section li a {
  color: rgba(255, 255, 255, .6);
}

.header-bottom-profile-section li a:hover {
  color: rgba(255, 255, 255, 1);
  transition: color .3s;
}

.header-bottom-profile-section li a img {
  height: 24px;
  width: auto;
  margin: 0 auto 6px;
  display: block;
}
