<div class="product-card">
  <a [href]="['/profile']"
     class="product-card-link">
  </a>
  <div class="card-top">
    <img [src]="'productcard/card-photo.webp'"
         [alt]="'product photo'"
         class="card-top-img"/>
    <button class="card-top-like"
            (click)="true">
      <img src="productcard/like.svg" alt="like icon">
    </button>
    <div class="cart-top-discount" *ngIf="true">
      -10%
    </div>
  </div>
  <div class="card-middle">
    <div class="card-middle-price">
      <span class="card-middle-price-current">3 200 тг.</span>
      <del class="card-middle-price-old" *ngIf="true"> 3 520 тг.</del>
    </div>
    <div class="card-middle-count" *ngIf="true">
      <div class="card-middle-count-value">
        Осталось 500 шт
      </div>
      <div class="card-middle-count-progress">
        <div class="card-middle-count-progress-fill" style="width: 25%;"></div>
      </div>
    </div>
    <div class="card-middle-title">
      <span class="card-middle-title-brand">Brand </span>
      <span class="card-middle-title-name">/ name</span>
    </div>
  </div>
  <div class="card-bottom">
    <div class="card-bottom-raiting">
      <span class="card-bottom-raiting-stars">4.7</span>
      <span class="card-bottom-raiting-count">• 35000 оценок</span>
    </div>
    <div class="card-bottom-order">
      <button class="card-bottom-order-button"
              (click)="true">
        <img src="productcard/cart.svg" alt="order icon">
        <span>Купить</span>
      </button>
    </div>
  </div>
</div>
