<div class="profile-page">

  <div class="profile-container">
    <h1>Профиль</h1>
    <div class="profile-sections">
      <div class="profile-section">
        <a [routerLink]="['/profile/orders']">
          <img src="profile/orders.svg" alt="orders icon">
          <span>Мои заказы</span>
        </a>
      </div>
      <div class="profile-section">
        <a [routerLink]="['/profile/favorites']">
          <img src="profile/likes.svg" alt="favorites icon">
          <span>Избранное</span>
        </a>
      </div>
      <div class="profile-section">
        <a [routerLink]="['/profile/basket']">
          <img src="profile/cart.svg" alt="basket icon">
          <span>Корзина</span>
        </a>
      </div>
      <div class="profile-section">
        <button class="edit-button" (click)="true">
          <img src="profile/setting.svg" alt="edit icon">
          <span>Редактировать профиль</span>
        </button>
      </div>
    </div>
  </div>

</div>
