<div class="product-card">
  <a [href]="['product/' + product.slug]"
     class="product-card-link">
  </a>
  <div class="card-top">
    <img [src]="decodeURIComponent(product.image)"
         [alt]="'product photo'"
         class="card-top-img"/>
    <button class="card-top-like"
            (click)="true">
      <img src="productcard/like.svg" alt="like icon">
    </button>
    <div class="cart-top-discount" *ngIf="product.discount != 0">
      -{{product.discount}}%
    </div>
  </div>
  <div class="card-middle">
    <div class="card-middle-price">
      <span class="card-middle-price-current">{{product.price - (product.price * product.discount)/100}} тг.</span>
      <del class="card-middle-price-old" *ngIf="product.discount != 0"> {{product.price}} тг.</del>
    </div>
    <div class="card-middle-count" *ngIf="product.amount < 500">
      <div class="card-middle-count-value">
        Осталось {{product.amount}} шт
      </div>
      <div class="card-middle-count-progress">
        <div class="card-middle-count-progress-fill" style="width: {{product.amount/10}}%;"></div>
      </div>
    </div>
    <div class="card-middle-title">
      <span class="card-middle-title-brand">Brand </span>
      <span class="card-middle-title-name">/ {{product.name}}</span>
    </div>
  </div>
  <div class="card-bottom">
    <div class="card-bottom-raiting">
      <span class="card-bottom-raiting-stars">4.7</span>
      <span class="card-bottom-raiting-count">• 35000 оценок</span>
    </div>
    <div class="card-bottom-order">
      <button class="card-bottom-order-button"
              (click)="true">
        <img src="productcard/cart.svg" alt="order icon">
        <span>Купить</span>
      </button>
    </div>
  </div>
</div>
