<div id="main">
  <main class="main-container">
    <div class="banner">
      <button (click)="prevSlide()"
              *ngIf="isBannerButtonsHover"
              (mouseover)="showBannerButtons()"
              style="left: 20px">
        <img src="banner/arrow.svg" alt="arrow" style="rotate: -90deg">
      </button>
      <img [ngSrc]="images[currentImageIndex]" alt="banner"
           fill
           (mouseover)="stopSlideshow(); showBannerButtons()"
           (mouseleave)="startSlideshow(); hideBannerButtons()"
      />
      <button (click)="nextSlide()"
              *ngIf="isBannerButtonsHover"
              (mouseover)="showBannerButtons()"
              style="right: 20px">
        <img src="banner/arrow.svg" alt="arrow" style="rotate: 90deg">
      </button>
    </div>
    <div class="cards-grid">
      <app-productcard *ngFor="let i of [1,2,3,4,5,6,7]"></app-productcard>
    </div>
  </main>
</div>
