<div class="favorites-page" *ngIf="authService.isAuthenticated()">
  <div class="favorites-header">
    <h1>Избранное</h1>
    <div class="favorites-search">
      <input type="text" placeholder="Поиск по избранному" />
      <button type="button">
        <img src="favorites/search.svg" alt="search icon" />
      </button>
    </div>
  </div>
  <div class="favorites-grid">
    <app-productcard *ngFor="let favorite of favorites" [product]="favorite"></app-productcard>
  </div>
</div>

<app-loginask></app-loginask>
